<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472037152833-b1p023dj9bplsihs2bc2s66n79of18p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472037152833-b1p023dj9bplsihs2bc2s66n79of18p7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472037152833-a5jv8si7va99ntarv391cd8iq4cmjvjn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtX8OEoSbFVbFkL-75aiSgDAoly0j7h7M</string>
	<key>GCM_SENDER_ID</key>
	<string>472037152833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryCaptMin</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-418c2</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-418c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472037152833:ios:3d8d29d8836ea487740ec0</string>
</dict>
</plist>